:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainOrange: #ed7800;
  --mainBrown : #672c24;
}

body {
  font-family: "Nunito", sans-serif !important;   /*google fonts*/
  /* background-color: #fff;
/* background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em; */ 
  /* background: var(--mainWhite) !important; */
/* background-color:#663943 !important;  */
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  color: var(--orange) !important;
}
.text-title {
  font-family: "Nunito", sans-serif;

}
.text-blue {
  color: var(--mainBrown);/*PRICE*/
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

